.center-text {
  text-align: center;
}

#table td {
  width: 20%;
}
#table td > div {
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.btn-outline-primary:hover {
  color: var(--bs-primary) !important;
}

.btn-outline-primary:active {
  color: white !important;
}

.green {
  color: green;
}
